@use 'variables';

.future_release {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 87px;
    background-color: #f5f5f5;
    
    
    .head_release h2 {
        font-weight: 400;
        font-size: 40px;
        color: #353943;
        align-items: center;
        text-align: center;
        margin-bottom: 41px;
    }
    
    .mini_slider {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        
        .left_mini_slider {
            display: block;
            padding: 18.25px 22.89px 19.25px 23.14px;
            background: #EAE8E8;
            margin-right: 16px;
            border-radius: variables.$border-radius;
        }
        
        .right_mini_slider {
            display: block;
            padding: 18.25px 22.89px 19.25px 23.14px;
            background: #EAE8E8;
            border-radius: variables.$border-radius;
        }
    }
}

.future_products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding-bottom: 52px;
    
    
    .future_product {
        position: relative;
        
        .data {
            position: absolute;
            top: 31px;
            left: 41px;
            display: block;
            padding: 13px 13px;
            background: #E63150;
            color: variables.$white;
            border-radius: variables.$border-radius;
        }
        
        .future_parametrs {
            position: absolute;
            top: 31px;
            right: 24px;
            
            .future_parametr {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 55px;
                background: #5A5E68;
                border-radius: variables.$border-radius;
                margin-bottom: 4px;
                
                a {
                    display: block;
                    padding: 10px;
                }
            }
            
        }
        
        .desk_future_product {
            position: absolute;
            top: 387px;
            left: 41px;
            font-size: 24px;
            color: variables.$white;
        }
        
        .price_future_product {
            position: absolute;
            top: 445px;
            left: 41px;
            
            a {
                font-size: 24px;
                color: variables.$white;
                text-decoration: none;
                padding: 5px;
            }
        }
    }
}

.popular_game {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    background-color: #ffffff;
    
    
    .head_release h2 {
        font-weight: 400;
        font-size: 40px;
        color: #353943;
        align-items: center;
        text-align: center;
        margin-bottom: 41px;
    }
    
    .mini_slider {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        
        .left_mini_slider {
            display: block;
            padding: 18.25px 22.89px 19.25px 23.14px;
            background: #EAE8E8;
            margin-right: 16px;
            border-radius: variables.$border-radius;
        }
        
        .right_mini_slider {
            display: block;
            padding: 18.25px 22.89px 19.25px 23.14px;
            background: #EAE8E8;
            border-radius: variables.$border-radius;
        }
    }
}

.popular_products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 95px;
    background-color: #ffffff;
    
    .popular_product {
        position: relative;
        
        .popular_parametrs {
            position: absolute;
            top: 10px;
            right: 10px;
            
            .popular_parametr {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                background: #5A5E68;
                border-radius: variables.$border-radius;
                margin-bottom: 3px;
                
                a {
                    display: block;
                    padding: 10px;
                }
            }
            
        }
        
        .popular_desk_product {
            position: absolute;
            top: 234px;
            left: 20px;
            font-size: 18px;
            color: variables.$white;
            align-items: flex-end;
            max-width: 154px;
        }
        
        .popular_price_product {
            position: absolute;
            top: 297px;
            left: 20px;
            
            
            a {
                display: block;
                text-decoration: none;
                font-size: 20px;
                color: variables.$white;
            }
        }
    }
}

.block_news {
    min-height: 625px;
    background-color: #353943;
    
    .lastnews_allnews {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .last_news h2 {
            margin-top: 62px;
            font-size: 40px;
            color: variables.$white;
            font-style: normal;
            font-weight: 400;
        }
    }
    
    .all_news a {
        display: block;
        font-size: 15px;
        color: variables.$white;
        font-style: normal;
        font-weight: 400;
        padding: 18px 66px;
        text-align: center;
        border: 0.5px solid #FFFFFF;
        border-radius: variables.$border-radius;
        margin-top: 51.5px;
        text-decoration: none;
    }
    
    .new_games {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
        .new_game_col {
            
            width: 360px;
            height: 374px;
            background-color: #5A5E68;
            margin-top: 45px;
            border-radius: variables.$border-radius;
            
            .name_new_game h3 {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                color: variables.$white;
                margin-top: 25.5px;
                margin-left: 40px;
            }
            
            .desk_new_game p {
                width: 282px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: variables.$white;
                margin-left: 40px;
                margin-top: 16.5px;
            }
            
            .block_calendar_and_time {
                display: flex;
                align-items: center;
                margin-left: 39.77px;
                margin-top: 38px;
                
                .calendar_news {
                    margin-right: 10px;
                }
                
                .date_news {
                    
                    margin-right: 31px;
                    
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        color: #c3c3c3;
                    }
                }
                
                .time_news {
                    margin-right: 10px;
                }
                
                .time_read_news {
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        color: #c3c3c3;
                    }
                }
            }
        }
        
        
    }
    
    
    
}

.publishes_game {
    padding-top: 67px;
    padding-bottom: 57px;
    background-color: #ffffff;
    
    h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        color: #353943;
    }
    
}

.platforms_logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    
    .platform_logo {
        width: 230px;
        height: 230px;
        background: #F9F9F9;
        border: 0.5px solid #C4C4C4;
        border-radius: 10px;
        
        &:last-child {
            background: #E63150;
        }
        
        a {
            display: block;
        }
        
        .steam {
            padding: 53px 66px 53px 66px;
        }
        
        .blizzard {
            padding: 66px 28px;
        }
        
        .epic_games {
            padding: 56px 10px 55px 9px;
        }
        
        .ps {
            padding: 75px 67px 74px 68px;
        }
        
        .xbox {
            padding: 72px 61px;
        }
        
        .watch_all {
            display: block;
            padding: 106px 63px;
            font-size: 14px;
            color: variables.$white;
            text-decoration: none;
        }
    }
}

.transforms_logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -50px;
    margin-bottom: -14px;
    background-color: #ffffff;
    
    
    a {
        margin-right: 50px;
    }
}