@use 'variables';

.slider {
    position: relative;
    padding-top: 30px;
    background-color: #f5f5f5;
    padding-bottom: 43px;
    
    
    img {
        height: auto;
        width: 100%;
        max-width: 1530px;
    }
    
    
    .desk__game__slider {
        padding-top: 280px;
        padding-left: 132px;
        position: absolute;
        top: 0;
        
        
        h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: variables.$white;
        }
        
        .category {
            display: inline-block;
            align-items: center;
            color: variables.$white;
            text-decoration: none;
            padding: 13px 10px;
            background-color: #5A5E68;
            border-top-right-radius: variables.$border-radius;
            border-bottom-right-radius: variables.$border-radius;
            border-top-left-radius: variables.$border-radius;
            border-bottom-left-radius: variables.$border-radius;
            margin-top: 16px;
            margin-right: 9px;
        }
        
        .full__desk {
            font-size: 16px;
            color: variables.$white;
            font-weight: 400;
            font-style: normal;
            width: 619px;
            margin-top: 30px;
        }
        
        .price__discont__bye__game__slider {
            display: flex;
            align-items: center;
            
            .price__game__slider {
                font-size: 24px;
                color: variables.$white;
                font-style: normal;
                font-weight: 400;
                margin-right: 30px;
                margin-top: 15px;
            }
            
            .discont__game__slider {
                font-size: 15px;
                color: variables.$white;
                background-color: #32353D;
                border-top-right-radius: variables.$border-radius;
                border-bottom-right-radius: variables.$border-radius;
                border-top-left-radius: variables.$border-radius;
                border-bottom-left-radius: variables.$border-radius;
                padding: 8px 10px;
                border: 1px solid #E63150;
                margin-top: 11px;
                text-align: center;
                margin-right: 34px;
            }
            
            .bye__game__slider {
                a {
                    color: variables.$white;
                    text-decoration: none;
                    display: block;
                    padding: 17px 32px;
                    border-top-right-radius: variables.$border-radius;
                    border-bottom-right-radius: variables.$border-radius;
                    border-top-left-radius: variables.$border-radius;
                    border-bottom-left-radius: variables.$border-radius;
                    background-color: #E63150;
                    margin-top: 4px;
                }
            }
        }
    }
}