@use 'variables';


.swiper {
    border-radius: 10px;
}

.swiper-slide img {
    min-width: 100%;  // не шире контейнера
    display: block;
    object-fit: cover ; /* Сохраняет пропорции */
    height: 638px;
}